:root {
  /* parata font */
  --font-prata-h1: 50px 'Prata', serif;
  --font-prata-h2: 35px 'Prata', serif;
  --font-prata-h3: 28px 'Prata', serif;
  --font-prata-h4: 20px 'Prata', serif;

  /* roboto font */
  --font-roboto-h1: bold 25px 'Roboto Condensed', sans-serif;
  --font-roboto-h2: 19px 'Roboto Condensed', sans-serif;
  --font-roboto-h3: bold 18px 'Roboto Condensed', sans-serif;
  --font-roboto-h4: 18px 'Roboto Condensed', sans-serif;
  --font-roboto-p:  16px 'Roboto Condensed', sans-serif;
  --font-roboto-p-small:  12px 'Roboto Condensed', sans-serif;
  --font-roboto-p-smallest:  10px 'Roboto Condensed', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font: var(--font-roboto-p);
}
.navbar {
  width: auto; 
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
  font: var(--font-roboto-h4);
}
.content {
  background-color: #f8f9fa;
}

/* Card */
.card {
  max-width: 353px; 
  height: 367px;
  background-repeat: round;
  position: relative;
  flex: 24%;
  border: none !important
}
.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.card-description {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
}
.card-description__right {
  font: var(--font-prata-h4); 
  color: #fff;
  width: 200px;
}
.card-description__left {
  font: var(--font-roboto-p-small); 
  color: #fff;
  width: 100px;
}

.growth{
  color: #6ede8a;
  font: var(--font-roboto-h3);
  text-align: end; 
  margin-top: 0;
}
.description {
  text-align: end;
  font: var(--font-roboto-h2);
}
.filter-side {
  font: var(--font-roboto-h4);
} 
.logo-side {
  font: var(--font-prata-h3)
}
.title {
  font: var(--font-roboto-h3);
}
.title, .card-content {
  padding: 15px 30px;
}
select {
  margin: 0 8px !important;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font: var(--font-roboto-h4);
}
.sortBySelect {
  width: 160px;
}
.active {
  background-color: #e09f3e !important;
  color: #fff;
}
.seeMore {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0;
}
.add {
  text-align: right;
}
.seeMore__line {
  border-top: 0.5px solid rgb(179, 179, 179);
}

/* Modal */
.modal-title {
  font: var(--font-prata-h3);
}
.modal-body {
  grid-template-columns: 46% 24% 24%;
  display: grid;
  column-gap: 3%;
  padding-bottom: 1%;
}

/* Button */
.add__btn {
  border: none;
  margin: 16px 16px;
  background-color: #fff;
  width: 30px;
  height: 35px;
  border-radius: 5px;
  font-weight: 800;
  opacity: 1;
  transition: opacity 0.3s
}
.seeMore__btn {
  margin-top: -13px;
  box-shadow: 0px -43px 50px 50px #fff;
  z-index: 5;
}
.btn-seeMore {
  border-radius: 14px;
  background-color: #fff;
  font: var(--font-roboto-h4)
}
#button-btn-all {
  margin-left: 8px;
  width: 50px;
  height: 35px;
  border: 0px;
  border-radius: 5px 0 0 5px;
  background-color: #e0e3e6;
  font: var(--font-roboto-h3);
}
#button-btn-fav {
  margin-right: 8px;
  width: 100px;
  height: 35px;
  border: 0px;
  border-radius: 0 5px 5px 0;
  background-color: #e0e3e6;
  font: var(--font-roboto-h3);
}

/* Hover */
.add__btn:hover {
  opacity: 1;
}

/* Overwrite bootstrap */
#tooltip-top > .tooltip-inner {
  background-color: #fff !important;
  color: #000 !important;
  margin-left: 150px;
}
#tooltip-top > .tooltip-arrow {
  opacity: 0;
}

.moodboard-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: none;
}